section.projects {
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: var(--gap);
}

section.projects .section__secondary-data {
  width: 100%;
  height: 100%;
}
section.projects .section__principal-data {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
section.projects .section__secondary-data .projects_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap) 0px;
}
