.project__card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;

  min-width: 400px;
  aspect-ratio: 1/1;

  perspective: 1000px;

  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.project__card .project__card--inner {
  position: relative;

  width: 100%;
  height: 100%;

  transform-style: preserve-3d;

  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.project__card:hover .project__card--inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.project__card .project__card--front {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  place-items: center;

  padding: 25% 20%;

  background: url('../../assets/background-projectCard_front.svg');
  background-size: cover;
}

.project__card .project__card--front .project__card-image {
  width: 95%;
  aspect-ratio: 4/3;
  border-radius: var(--border-radius);
  border: 1px solid gold;
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.project__card .project__card--back {
  background: url('../../assets/background-projectCard_back.svg');
  backdrop-filter: blur(5px);
  background-size: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.project__card--front,
.project__card--back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
