.project__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 400px;
  /* aspect-ratio: 3/4; */

  /* padding: 2px 4px; */
  border-radius: var(--border-radius);
  border:1px solid #fff1;
  box-shadow: 0 0 15px #0009;
  background: var(--foreground-color)

}.project__card section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}.project__card img{
  width: 100%;
  box-shadow: 0 10px 10px #0003;

}.project__card button{
  background: transparent;
  font-weight: 400;
  
}

.project__card .project__details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 8px 16px;  
}

.project__details h2{

  margin: 16px 0;
}.project__actions {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 16px;  
  width: 100%;
}

@media screen and (max-width: 500px){
  .project__card{
    width: 320px;
  }.project__actions button{
    width: 45%;
    font-size: .75rem;
  }
}