.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  flex-grow: 1;

  width: 100%;

  background: var(--background-color-dark);

  padding: 5%;

  z-index: 0;
}
.developer__img{
  width: 90%;
}

@media screen and (min-width: 800px){
.developer__img{
  display: none;
}
  
}