:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:var(--background-color);

  --background-color: #242424;
  --background-color-dark: #202020;
  --foreground-color: #343434;
  --accent-color: rgb(255, 215, 0);
  --shadow-color: rgba(255, 217, 0, 0.2);
  --border-radius: 5px;
  --gap: 25px;
  --padding: 5% 10%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  position: relative;
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
button::after{
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  background:  var(--accent-color);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
button:hover::after{
  bottom:0px;
  opacity: .15;
}

button:hover{
  box-shadow: 0 0 10px var(--shadow-color);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

/* CUSTOM STYLES */

.text-secondary {
  color: var(--accent-color);
}
.section__title{
  color: var(--accent-color);
  font-size: 1.5rem;
}
.section__subtitle{
  font-weight: bolder;
  font-size: 1.7rem;
}
.section__text{
  letter-spacing:2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
